<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >


<h3 class="mx-auto">Add a Project to the Project Board</h3>
<div th:fragment="CreateProjects">
    <div class="container-fluid py-2">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <form class="card card-body" th:action="@{/createProject}" th:object="${project}" method="post">
                    <h3 class="text-center mb-4">Project Form</h3>
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Title of the Project" name="name" type="text" th:field="*{name}" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Description of the Project" name="description" th:field="*{description}" required></textarea>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Number of Students required in the project" name="numberStudents" type="number"  th:field="*{numberStudents}" required>
                        </div>
                        <div class="form-group">
                            <select class="form-control input-lg">
                                <option >Restrictions</option>
                                <option >HEllo</option>
                                <option >HEllo</option>
                            </select>
                        </div>
                        <input class="btn btn-lg btn-primary btn-block" value="Add Project" type="submit">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

</html>