<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot password Form </title>
</head>
<body>
<form  th:action="@{/forgot}" th:object="${user}" method="post">
    <h3  >Enter your user name to reset your password</h3>
    <fieldset>
        <div >
            <div>
                <input name=""  placeholder="Username" type="text"  >
            </div>

        </div>

        <div>
            <input type="submit" > </input>
        </div>
    </fieldset>
</form>
</body>
</html>