<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot password Form </title>
</head>
<body>
<form  th:action="@{/forgot}" th:object="${user}" method="post">
    <h3  >Sign in</h3>
    <fieldset>
        <div >
            <div>
                <input name=""  placeholder="Username" type="text" >
            </div>
        </div>

        <div>
            <button type="submit" >Submit</button>
        </div>
    </fieldset>
</form>
</body>
</html>