<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <title id="pageTitle">Layout Generic Title </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<div th:fragment="forgotPassword">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <form  class="card card-body" th:action="@{/forgot}" th:object="${user}" method="post">
                    <h4 class="text-center mb-4">Forgot Password</h4>
                    <p th:if="${usernameError}" class="error text-danger text-center">Username Does not exist.</p>
                    <p th:if="${answerError}" class="error text-danger text-center">Answer for Security Question not correct.</p>
                    <p th:if="${pwError}" class="error text-danger text-center">Password Does not Match </p>

                    <fieldset>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    <input name="" class="form-control input-lg" placeholder="Username" type="text" th:field="*{username}"  required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group"><label  for id="name" >What is your favorite Sport?</label></div>
                                <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                        </div>
                                    <input name="" class="form-control input-lg" placeholder="Answer" type="text"  th:field="*{answerTosecurityQuestion}"  required >

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group"><label  for id="name" >Enter the new password:</label></div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input name="" class="form-control input-lg" placeholder="password" type="password" th:field="*{password}" required >
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="input-group">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input name="" class="form-control input-lg"  placeholder="Confirm Password" type="password" th:field="*{confPassword}" required  >

                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                            </div> <!-- form-group// -->

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</html>