<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div class="mx-auto py-5" style="width: 80%;">

<table class="table">
    <thead class="thead-light">
    <tr>
        <th> Title </th>
        <th> Description </th>
        <th> Number of students </th>
        <th> Supervisor </th>

    </tr>
    </thead>
    <tbody>
    <tr th:if="${project.empty}">
        <td colspan="2"> No Projects Available </td>
    </tr>
    <tr th:each="proj : ${project}">
        <td><span th:text="${proj.getName()}">Title</span></td>
        <td ><p th:text="${proj.getDescription()}">Descrpition</p></td>
        <td><p th:text="${proj.getNumberStudents()}">Number of students</p></td>


    </tr>
    <tr th:lo>

    </tr>
    </tbody>
</table>

</div>

</html>