<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="registration">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <form class="card card-body" th:action="@{/register}" th:object="${user}" method="post">
                    <h3 class="text-center mb-4">Account Registration</h3>
                    <p th:if="${regError}" class="error text-danger text-center">Username Already in Use, try another.</p>
                    <p th:if="${pwError}" class="error text-danger text-center">Passwords do not match.</p>
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Username" name="username" type="text" th:field="*{username}" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Password" name="password" value="" type="password" th:field="*{password}" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Confirm Password" name="confPassword" value="" type="password" th:field="*{confPassword}" required>
                        </div>
                        <div class="form-group">

                            <p  > What is your favorite Sport?</p>

                            <input class="form-control input-lg" placeholder="Answer" name="answer" value="" type="text" th:field="*{answerTosecurityQuestion}"  required>
                        </div>
                        <div class="form-group">
                            <select class="form-control input-lg" th:field="*{role}">
                                <option th:value="STUDENT" th:text="Student"></option>
                                <option th:value="SUPERVISOR" th:text="Supervisor"></option>
                                <option th:value="COORDINATOR" th:text="Coordinator"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control input-lg" th:field="*{programString}">
                                <option disabled th:value="'0'">Please Select Restrictions for this project</option>
                                <option th:value="AERO">Aerospace Engineering</option>
                                <option th:value="ARCH">Architecture Engineering</option>
                                <option th:value="CIVE">Civil Engineering</option>
                                <option th:value="COMM">Communications Engineering</option>
                                <option th:value="COMP">Computer Systems Engineering</option>
                                <option th:value="MECH">Mechanical Engineering</option>
                                <option th:value="SOFT">Software Engineering</option>
                                <option th:value="SREE">Sustainable and Renewable Engineering Engineering</option>

                            </select>
                            </select>
                        </div>

                        <input class="btn btn-lg btn-primary btn-block" value="Register" type="submit">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
