<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  th:action="@{/forgot}" th:object="${user}" method="post">
    <h3  >Reset Password</h3>
    <fieldset>
        <div >
            <div>
                <input name=""  placeholder="Password" type="password" >
            </div>
            <div>
                <input name=""  placeholder="Confirm Password" type="password" >
            </div>
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>
    </fieldset>
</form>
</body>
</html>